.git
.github
.gitignore
.gitattributes
*.md
docker-compose.yml
.env.example
.env
tests/
.editorconfig
.styleci.yml
phpunit.xml
node_modules/
vendor/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*

